# Contents of /etc/systemd/system/devmon.service

[Unit]
Description=Devmon
After=xymon.target network.target

[Install]
WantedBy=multi-user.target


[Service]
PIDFile=/var/run/devmon/devmon.pid
User=xymon
Group=xymon
# Run ExecStartPre with root-permissions
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/mkdir -p /var/run/devmon
ExecStartPre=-/usr/bin/mkdir -p /var/log/devmon
ExecStartPre=/usr/bin/chown xymon:xymon /var/run/devmon/
ExecStartPre=/usr/bin/chown xymon:xymon /var/log/devmon/

# Change the devmon folder according to you settings !
ExecStart=/usr/lib/xymon/server/ext/devmon/devmon

Type=simple
