# Contents of /etc/systemd/system/devmon.service

[Unit]
Description=Devmon Service
After=network.target

[Service]
Type=simple
User=devmon
Group=devmon
ExecStartPre=/bin/mkdir -p /var/log/devmon /var/run/devmon
ExecStartPre=/bin/chown -R devmon:devmon /var/log/devmon /var/run/devmon
ExecStart=/usr/lib/xymon/server/ext/devmon/server/bin/devmon
WorkingDirectory=/usr/lib/xymon/server/ext/devmon/server/bin/
RuntimeDirectory=devmon
RuntimeDirectoryMode=0755
RuntimeDirectoryPreserve=yes
PIDFile=/var/run/devmon/devmon.pid

[Install]
WantedBy=multi-user.target
