#[la]
#        FNPATTERN ^la.?(.*).rrd
#        TITLE CPU Load
#        YAXIS Load
#        DEF:avg@RRDIDX@=@RRDFN@:la:AVERAGE
#        CDEF:cpu@RRDIDX@=avg@RRDIDX@,100,/
#        LINE1:cpu@RRDIDX@#@COLOR@:CPU @RRDPARAM@ Load Average
#        -u 1.0
#        GPRINT:cpu@RRDIDX@:LAST: \: %5.2lf (cur)
#        GPRINT:cpu@RRDIDX@:MAX: \: %5.2lf (max)
#        GPRINT:cpu@RRDIDX@:MIN: \: %5.2lf (min)
#        GPRINT:cpu@RRDIDX@:AVERAGE: \: %5.2lf (avg)\n
[cpu-dm]
        FNPATTERN ^cpu-dm\.(.*).rrd
        TITLE CPU Load
        YAXIS Load
        DEF:avg@RRDIDX@=@RRDFN@:ds0:AVERAGE
        CDEF:cpu@RRDIDX@=avg@RRDIDX@,100,/
        LINE1:cpu@RRDIDX@#@COLOR@:CPU @RRDPARAM@ Load Average
        -u 1.0
        GPRINT:cpu@RRDIDX@:LAST: \: %5.2lf (cur)
        GPRINT:cpu@RRDIDX@:MAX: \: %5.2lf (max)
        GPRINT:cpu@RRDIDX@:MIN: \: %5.2lf (min)
        GPRINT:cpu@RRDIDX@:AVERAGE: \: %5.2lf (avg)\n
[if_col]
        FNPATTERN if_col.(.*).rrd
        TITLE Interface Collisons 
        YAXIS Packets/second
        DEF:outp@RRDIDX@=@RRDFN@:ds0:AVERAGE
        LINE1:outp@RRDIDX@#@COLOR@:@RRDPARAM@ Out
        GPRINT:outp@RRDIDX@:LAST: %6.2lf %s (cur)
        GPRINT:outp@RRDIDX@:MAX: %7.2lf %s (max)
        GPRINT:outp@RRDIDX@:MIN: %7.2lf %s (min)
        GPRINT:outp@RRDIDX@:AVERAGE: %7.2lf %s (avg)\n
        -l 0

[if_err]
        FNPATTERN if_err.(.*).rrd
        TITLE Interface Errors
        YAXIS Packets/second
        DEF:inp@RRDIDX@=@RRDFN@:ds0:AVERAGE
        DEF:outp@RRDIDX@=@RRDFN@:ds1:AVERAGE
        LINE1:inp@RRDIDX@#@COLOR@:@RRDPARAM@ In
        GPRINT:inp@RRDIDX@:LAST: %7.2lf %s (cur)
        GPRINT:inp@RRDIDX@:MAX: %7.2lf %s (max)
        GPRINT:inp@RRDIDX@:MIN: %7.2lf %s (min)
        GPRINT:inp@RRDIDX@:AVERAGE: %7.2lf %s (avg)\n
        LINE1:outp@RRDIDX@#@COLOR@:@RRDPARAM@ Out
        GPRINT:outp@RRDIDX@:LAST: %6.2lf %s (cur)
        GPRINT:outp@RRDIDX@:MAX: %7.2lf %s (max)
        GPRINT:outp@RRDIDX@:MIN: %7.2lf %s (min)
        GPRINT:outp@RRDIDX@:AVERAGE: %7.2lf %s (avg)\n
        -l 0

[if_dsc]
        FNPATTERN if_dsc\.(.*)\.rrd
        TITLE Interface Discards
        YAXIS Packets/second
        DEF:inp@RRDIDX@=@RRDFN@:ds0:AVERAGE
        DEF:outp@RRDIDX@=@RRDFN@:ds1:AVERAGE
        LINE1:inp@RRDIDX@#@COLOR@:@RRDPARAM@ In
        GPRINT:inp@RRDIDX@:LAST: %7.2lf %s (cur)
        GPRINT:inp@RRDIDX@:MAX: %7.2lf %s (max)
        GPRINT:inp@RRDIDX@:MIN: %7.2lf %s (min)
        GPRINT:inp@RRDIDX@:AVERAGE: %7.2lf %s (avg)\n
        LINE1:outp@RRDIDX@#@COLOR@:@RRDPARAM@ Out
        GPRINT:outp@RRDIDX@:LAST: %6.2lf %s (cur)
        GPRINT:outp@RRDIDX@:MAX: %7.2lf %s (max)
        GPRINT:outp@RRDIDX@:MIN: %7.2lf %s (min)
        GPRINT:outp@RRDIDX@:AVERAGE: %7.2lf %s (avg)\n
        -l 0

[if_load]
        FNPATTERN if_load.(.*).rrd
        TITLE Interface Traffic
        #TITLE exec:$BBHOME/ext/devmongraphtitle.pl
        YAXIS Bits/second
        DEF:in@RRDIDX@=@RRDFN@:ds0:AVERAGE
        CDEF:inbytes@RRDIDX@=in@RRDIDX@,8,*
        DEF:out@RRDIDX@=@RRDFN@:ds1:AVERAGE
        CDEF:outbytes@RRDIDX@=out@RRDIDX@,8,*
        LINE1:inbytes@RRDIDX@#@COLOR@:@RRDPARAM@ In
        GPRINT:inbytes@RRDIDX@:LAST: %7.2lf %s (cur)
        GPRINT:inbytes@RRDIDX@:MAX: %7.2lf %s (max)
        GPRINT:inbytes@RRDIDX@:MIN: %7.2lf %s (min)
        GPRINT:inbytes@RRDIDX@:AVERAGE: %7.2lf %s (avg)\n
        LINE1:outbytes@RRDIDX@#@COLOR@:@RRDPARAM@ Out
        GPRINT:outbytes@RRDIDX@:LAST: %6.2lf %s (cur)
        GPRINT:outbytes@RRDIDX@:MAX: %7.2lf %s (max)
        GPRINT:outbytes@RRDIDX@:MIN: %7.2lf %s (min)
        GPRINT:outbytes@RRDIDX@:AVERAGE: %7.2lf %s (avg)\n
        -l 0

[temp]
        FNPATTERN temp\.(.*)\.rrd
        TITLE Temperature
        YAXIS Degrees Celsius
        DEF:val@RRDIDX@=@RRDFN@:ds0:AVERAGE
        DEF:lt@RRDIDX@=@RRDFN@:ds1:AVERAGE
	DEF:ht@RRDIDX@=@RRDFN@:ds2:AVERAGE
        LINE1:val@RRDIDX@#@COLOR@:@RRDPARAM@ Temperature
        GPRINT:val@RRDIDX@:LAST: %8.0lf° (cur)
        GPRINT:val@RRDIDX@:MAX: %7.0lf° (max)
        GPRINT:val@RRDIDX@:MIN: %7.0lf° (min)
        GPRINT:val@RRDIDX@:AVERAGE: %7.0lf° (avg)\n
        LINE1:lt@RRDIDX@#@COLOR@:@RRDPARAM@ Low Threshold
        GPRINT:lt@RRDIDX@:LAST: %6.0lf° \n
	LINE1:ht@RRDIDX@#@COLOR@:@RRDPARAM@ High Threshold
	GPRINT:ht@RRDIDX@:LAST: %5.0lf° \n
	-l 0

[connects]
        TITLE Connections
        YAXIS Average Connections
        DEF:conns=connects.rrd:Connections:AVERAGE
        AREA:conns#000000:Connections
       #LINE:ops#000000:Operations
        COMMENT:\n
        GPRINT:conns:LAST:Connections  \: %5.1lf (cur)
        GPRINT:conns:MAX: \: %5.1lf (max)
        GPRINT:conns:MIN: \: %5.1lf (min)
        GPRINT:conns:AVERAGE: \: %5.1lf (avg)\n
        -l 0

[diskio]
        FNPATTERN diskio.(.*).rrd
        TITLE Disk IO Operations
        YAXIS IOPS or Bps
        DEF:in@RRDIDX@=@RRDFN@:ds0:AVERAGE
        DEF:out@RRDIDX@=@RRDFN@:ds1:AVERAGE
        LINE1:in@RRDIDX@#@COLOR@:@RRDPARAM@ In
        GPRINT:in@RRDIDX@:LAST: %8.2lf/s %s (cur)
        GPRINT:in@RRDIDX@:MAX: %8.2lf/s %s (max)
        GPRINT:in@RRDIDX@:MIN: %8.2lf/s %s (min)
        GPRINT:in@RRDIDX@:AVERAGE: %8.2lf/s %s/s (avg)\n
        LINE1:out@RRDIDX@#@COLOR@:@RRDPARAM@ Out
        GPRINT:out@RRDIDX@:LAST: %8.2lf/s %s (cur)
        GPRINT:out@RRDIDX@:MAX: %8.2lf/s %s (max)
        GPRINT:out@RRDIDX@:MIN: %8.2lf/s %s (min)
        GPRINT:out@RRDIDX@:AVERAGE: %8.2lf/s %s (avg)\n
        -l 0

[diskio1]
        FNPATTERN diskio.(.*).rrd
        TITLE Disk IO Bandwidth
        YAXIS Bps
        DEF:inbytes@RRDIDX@=@RRDFN@:ds2:AVERAGE
        DEF:outbytes@RRDIDX@=@RRDFN@:ds3:AVERAGE
        LINE1:inbytes@RRDIDX@#@COLOR@:@RRDPARAM@ In
        GPRINT:inbytes@RRDIDX@:LAST: %8.2lf %sBps (cur)
        GPRINT:inbytes@RRDIDX@:MAX: %8.2lfBps %sBps (max)
        GPRINT:inbytes@RRDIDX@:MIN: %8.2lf %sBps (minbytes)
        GPRINT:inbytes@RRDIDX@:AVERAGE: %8.2lf %sBps (avg)\n
        LINE1:outbytes@RRDIDX@#@COLOR@:@RRDPARAM@ Out
        GPRINT:outbytes@RRDIDX@:LAST: %8.2lf %sBps (cur)
        GPRINT:outbytes@RRDIDX@:MAX: %8.2lf %sBps (max)
        GPRINT:outbytes@RRDIDX@:MIN: %8.2lf %sBps (min)
        GPRINT:outbytes@RRDIDX@:AVERAGE: %8.2lf %sBps (avg)\n
        -l 0
